@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Dimitri';
	src: url('/fonts/dimitri.woff') format('woff');
}

:root {
	--primary-light: #f5f5f5; /* neutral-100 */
	--color-light: #303030;
	--primary-dark: #0c0c0c; /* neutral-900 */
	--color-dark: #f3f3f3;
	--accent-primary: #414449; /* blue-600 */
	--accent-primary-state: #868990; /* blue-800 */
}

body {
	@apply bg-primary-dark text-primary-light;
	font-family: 'Goldman', sans-serif;
background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%234c5258' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

h1 {
	@apply text-4xl text-color-dark sm:text-4xl md:text-5xl lg:text-5xl;
	font-family: 'Dimitri';
	text-shadow:
		1px 1px 1px #2d2f32,
		1px 2px 1px #2d2f32,
		1px 3px 1px #2d2f32,
		1px 4px 1px #575760,
		1px 5px 1px #575760,
		1px 6px 1px #575760,
		1px 7px 1px #575760,
		1px 8px 1px #575760,
		1px 9px 1px #6d6e71,
		1px 10px 1px #6d6e71,
		1px 18px 6px rgba(16, 16, 16, 0.4),
		1px 22px 10px rgba(16, 16, 16, 0.2),
		1px 25px 35px rgba(16, 16, 16, 0.2),
		1px 30px 60px rgba(16, 16, 16, 0.4);
}

h2 {
	@apply text-lg sm:text-xl md:text-xl lg:text-xl;
}

h3 {
	@apply sm:text-xl md:text-2xl lg:text-3xl;
}

h1,
h2,
h3,
footer span {
	@apply text-color-dark;
}
main {
	/*	background: #0c0c0c44*/
}
body,
h1,
h2,
h3,
footer span {
	@apply transition-colors duration-500;
}

li a,
footer span {
	@apply md:text-lg lg:text-xl;
}

a {
	font-weight: 900 !important;
	text-transform: uppercase;
}
