@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-light: #f5f5f5; /* neutral-100 */
	--color-light: #303030;
	--primary-dark: #0c0c0c; /* neutral-900 */
	--black: #000000;
	--color-dark: #f3f3f3;
	--accent-primary: #414449; /* blue-600 */
	--accent-primary-state: #868990; /* blue-800 */
}

body {
	@apply flex flex-col justify-center h-full align-middle w-full min-w-full overflow-scroll;
	font-family: 'Jost', sans-serif;
	box-sizing: border-box;
	--grid-color: #000;
	--grid-weight: 1px;
	--grid-spacing: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-position:
		center center,
		center center;
	background-size:
		var(--grid-spacing) var(--grid-spacing),
		var(--grid-spacing) var(--grid-spacing);
	background-image: repeating-linear-gradient(
			0deg,
			var(--grid-color),
			var(--grid-color) var(--grid-weight),
			transparent var(--grid-weight),
			transparent var(--grid-spacing)
		),
		repeating-linear-gradient(
			-90deg,
			var(--grid-color),
			var(--grid-color) var(--grid-weight),
			transparent var(--grid-weight),
			transparent var(--grid-spacing)
		);
	color: #000;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a {
	font-weight: 900 !important;
	text-transform: uppercase;
}

h1 {
	text-shadow:
		0.25rem 0.25rem 0 #303030,
		0.3rem 0.3rem 0 #303030,
		0.4rem 0.4rem 0 #303030,
		0.5rem 0.5rem 0 #303030,
		0.6rem 0.6rem 0 #3c3c3c,
		0.7rem 0.7rem 0 #3c3c3c,
		0.75rem 0.75rem 0 #3c3c3c,
		0.8rem 0.8rem 0 #4c4c4c,
		0.9rem 0.9rem 0 #4c4c4c,
		1rem 1rem 0 #4c4c4c,
		-2px 0 1px #000000,
		0 2px 1px #000000,
		2px 0 1px #000000,
		0 -2px 1px #000000;
}
