@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Dimitri';
	src: url('/fonts/dimitri.woff') format('woff');
}

:root {
	--primary-light: #f5f5f5; /* neutral-100 */
	--color-light: #303030;
	--primary-dark: #0c0c0c; /* neutral-900 */
	--color-dark: #f3f3f3;
	--accent-primary: #414449; /* blue-600 */
	--accent-primary-state: #868990; /* blue-800 */
}

body {
	@apply bg-primary-dark text-primary-light;
	font-family: 'Goldman', sans-serif;
	background-image: url("data:image/svg+xml,%3Csvg width='48' height='64' viewBox='0 0 48 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 28v-4L36 12 24 24 12 12 0 24v4l4 4-4 4v4l12 12 12-12 12 12 12-12v-4l-4-4 4-4zM8 32l-6-6 10-10 10 10-6 6 6 6-10 10L2 38l6-6zm12 0l4-4 4 4-4 4-4-4zm12 0l-6-6 10-10 10 10-6 6 6 6-10 10-10-10 6-6zM0 16L10 6 4 0h4l4 4 4-4h4l-6 6 10 10L34 6l-6-6h4l4 4 4-4h4l-6 6 10 10v4L36 8 24 20 12 8 0 20v-4zm0 32l10 10-6 6h4l4-4 4 4h4l-6-6 10-10 10 10-6 6h4l4-4 4 4h4l-6-6 10-10v-4L36 56 24 44 12 56 0 44v4z' fill='%23454445' fill-opacity='0.29' fill-rule='evenodd'/%3E%3C/svg%3E");
}

h1 {
	@apply text-4xl text-color-dark sm:text-4xl md:text-5xl lg:text-5xl;
	font-family: 'Dimitri';
	text-shadow:
		1px 1px 1px #2d2f32,
		1px 2px 1px #2d2f32,
		1px 3px 1px #2d2f32,
		1px 4px 1px #575760,
		1px 5px 1px #575760,
		1px 6px 1px #575760,
		1px 7px 1px #575760,
		1px 8px 1px #575760,
		1px 9px 1px #6d6e71,
		1px 10px 1px #6d6e71,
		1px 18px 6px rgba(16, 16, 16, 0.4),
		1px 22px 10px rgba(16, 16, 16, 0.2),
		1px 25px 35px rgba(16, 16, 16, 0.2),
		1px 30px 60px rgba(16, 16, 16, 0.4);
}

h2 {
	@apply text-lg sm:text-xl md:text-xl lg:text-xl;
}

h3 {
	@apply sm:text-xl md:text-2xl lg:text-3xl;
}

h1,
h2,
h3,
footer span {
	@apply text-color-dark;
}
main {
	/*	background: #0c0c0c44*/
}
body,
h1,
h2,
h3,
footer span {
	@apply transition-colors duration-500;
}

li a,
footer span {
	@apply md:text-lg lg:text-xl;
}

a {
	font-weight: 900 !important;
	text-transform: uppercase;
}
