

@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Your own custom component styles */

@import 'tailwindcss/utilities';


/****************************************************************************/
/* Font */
/****************************************************************************/
@font-face {
  font-family: 'Dimitri';
  src: url('/fonts/dimitri.woff') format('woff');
}

/* Styles */
h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: 'Dimitri', sans;
}
body{
@apply flex bg-gray-900 text-white items-center justify-center p-0 m-0 ;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 32 32'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='Artboard-5' fill='%23555e70' fill-opacity='0.16' fill-rule='nonzero'%3E%3Cpath d='M6 18h12V6H6v12zM4 4h16v16H4V4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

main{
       box-shadow: 5px 5px #00000033, 22px 22px #00000055, 18px 18px #17191e22;
width: 95%;
    @apply bg-gray-700 items-center align-middle text-center  p-6 my-12 bg-opacity-60 rounded-lg ;
}

h1{

     text-shadow: 0 1px 0 #ccc,
               0 3px 0 #c9c9c9,
               0 4px 0 #b9b9b9,
               0 5px 0 #bcbcbc,
               0 6px 0 #555e70,
               0 7px 1px #00000033,
               0 0 5px #00000055,
               0 1px 3px #00000088,
               0 3px 5px #00000088,
               0 5px 10px #00000088,
               0 10px 10px #00000088,
               0 20px 10px #00000077;
    @apply text-7xl  text-transparent  text-white ;

}

header{
    @apply  align-middle justify-center py-2;
}
a {
	text-align: center;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	color: #000000;
	opacity: 0.5;
  font-family: "Goldman";
  
    

}
.card{
       /* box-shadow: 5px 5px #00000033, 12px 12px #00000055, 8px 8px #17191e22; */
  @apply text-4xl lg:text-2xl  inline-flex align-middle justify-center bg-gray-300  my-2 w-full rounded-md lg:py-8  py-4


}
  .cards{
  @apply lg:grid lg:grid-flow-row lg:grid-cols-2 lg:gap-x-6 ;
  }

.social-icons{
  width:25%;
}